@media only screen and (min-width:700px) {
    .navbar {
        display: block;
        position: absolute;
        top: 2%;
        right: 5%;
      }
    .navbar a {        
        margin: 10px 30px;
    }
    .dropdown {display: none;}
    header {
        padding: 10%;
    }
    .images_gallery {
        flex-flow: wrap row;
        margin: 20px 0;
    }
    .images_gallery img
    {
      width: 50%;
      margin: 0;
    }
}

@media only screen and (min-width:1000px) {
    header {
        padding: 30%;
    }
    .icons {
        flex-flow: wrap row;
        justify-content: center;
        padding: 60px 0;
    }
    .gallery {
        height: 900px;
    }
    .gallery, .blog {
        display: flex;
        flex-flow: row;
    }
    .icons .about {
        width: 20%;
        margin: 60px 20px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }
    .text_gallery, .blog_menu {width: 40%;}
    .images_gallery, .articles {width: 60%;}
    .text_gallery, .blog_menu {
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        padding-left: 7%; 
        text-align: left;
    }
    .images_gallery {
        padding-bottom: 10px;
    }
    .carousel {
        padding: 0 30%;
    }
    .blog_menu p {margin-bottom: 0;}
    .blog_menu hr {margin: 1rem 0;}
    .articles {
        margin-right: 5%;
    }
    .contact div:first-child {
        padding: 200px;
    }
    footer{
        flex-flow: row;
        justify-content: center;
        padding: 0;
    }
    .more_info {flex-flow: column;}
    footer div {
        padding: 20px;
    }
    footer>h4 {
      position: relative;
      left: 110px;
      top: 20px;
    }
    footer hr {
        display: none;
    }
}